<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="age">First Name </label>
      <input type="number" id="age" name="age" formControlName="age">
    </p>
    <div
    style="color: red;"
    *ngIf="myForm.get('age')?.hasError('required') && (myForm.controls.age?.dirty
    ||myForm.controls.age?.touched)">
      Age is required
    </div>
    <div *ngIf="myForm.get('age')?.hasError('gte')"  style="color: red;">
        The number should be greater than 10
      </div>
   
    <p>
      <button type="submit"  [disabled]="!myForm.valid">Submit</button>
    </p>
   
  </form>